@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;

body {
  margin: 0;
  font-family: $font-family-base;
}

a {
  color: darken($color-primary, 5%);
}

::selection,
::-moz-selection {
  color: black;
  background: $color-primary;
}
