@use '../abstracts/variables' as *;

.navbar {
  position: sticky;
  bottom: 5px;
  display: flex;
  gap: 10px;
  padding-block: 10px;
  padding-inline: 40px;
  justify-content: space-between;
  border-radius: 16px;
  background-color: white;
  box-shadow: $global-shadow-lg;
}
