@use '../abstracts/variables' as *;

.post {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px;
  border-radius: 16px;
  box-shadow: $global-shadow-lg;
  font-weight: 300;
  &[data-new] {
    animation: flash 3s ease-in-out;
    // border: 2px solid $color-primary;
    // background-color: lighten($color-primary, 40%);
  }
}

.post-author {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  justify-items: center;
  align-items: center;
  font-size: 13px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $color-primary;
}

.post-meta {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  font-size: 8px;
  font-weight: 200;
}

.post-footer {
  display: flex;
  align-items: center;
}

.post-body {
  font-weight: 500;
  font-size: 13px;
}

.post-action {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  gap: 5px;
  border-radius: 8px;
}

@keyframes flash {
  0% {
    background-color: lighten($color-primary, 20%); // Initial brighter flash
  }
  100% {
    background-color: white; // Fade back to normal background
  }
}
